i   Path
1   /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/BRCA/EE87811.hg38.bam
2   /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/BRCA/EE87812.hg38.bam
3   /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/BRCA/EE87813.hg38.bam
4   /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/BRCA/EE87814.hg38.bam
5   /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/BRCA/EE87815.hg38.bam
6   /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/BRCA/EE87816.hg38.bam
7   /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/BRCA/EE87817.hg38.bam
8   /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/BRCA/EE87818.hg38.bam
9   /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/BRCA/EE87819.hg38.bam
10  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/BRCA/EE87820.hg38.bam
11  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/BRCA/EE87822.hg38.bam
12  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/BRCA/EE87823.hg38.bam
13  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/BRCA/EE87824.hg38.bam
14  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/BRCA/EE87826.hg38.bam
15  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/BRCA/EE87827.hg38.bam
16  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/BRCA/EE87828.hg38.bam
17  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/BRCA/EE87829.hg38.bam
18  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/BRCA/EE87830.hg38.bam
19  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/BRCA/EE87831.hg38.bam
20  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/BRCA/EE87832.hg38.bam
21  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/BRCA/EE87833.hg38.bam
22  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/BRCA/EE87834.hg38.bam
23  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/BRCA/EE87835.hg38.bam
24  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/BRCA/EE87837.hg38.bam
25  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/BRCA/EE87838.hg38.bam
26  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/BRCA/EE87839.hg38.bam
27  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/BRCA/EE87840.hg38.bam
28  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/BRCA/EE87841.hg38.bam
29  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/BRCA/EE87842.hg38.bam
30  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/BRCA/EE87843.hg38.bam
31  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/BRCA/EE87844.hg38.bam
32  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/BRCA/EE87845.hg38.bam
33  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/BRCA/EE87846.hg38.bam
34  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/BRCA/EE87847.hg38.bam
35  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/BRCA/EE87848.hg38.bam
36  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/BRCA/EE87849.hg38.bam
37  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/BRCA/EE87850.hg38.bam
38  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/BRCA/EE87851.hg38.bam
39  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/BRCA/EE87852.hg38.bam
40  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/BRCA/EE87853.hg38.bam
41  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/BRCA/EE87854.hg38.bam
42  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/BRCA/EE87856.hg38.bam
43  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/BRCA/EE87857.hg38.bam
44  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/BRCA/EE87858.hg38.bam
45  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/BRCA/EE87859.hg38.bam
46  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/BRCA/EE87860.hg38.bam
47  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/BRCA/EE87861.hg38.bam
48  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/BRCA/EE87862.hg38.bam
49  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/BRCA/EE87863.hg38.bam
50  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/BRCA/EE87864.hg38.bam
