i   Path
1   /tudelft.net/staff-umbrella/cse3000cfdna/msboon/brca/EE87811.hg38_proc.bam_ratio.npy
2   /tudelft.net/staff-umbrella/cse3000cfdna/msboon/brca/EE87812.hg38_proc.bam_ratio.npy
3   /tudelft.net/staff-umbrella/cse3000cfdna/msboon/brca/EE87813.hg38_proc.bam_ratio.npy
4   /tudelft.net/staff-umbrella/cse3000cfdna/msboon/brca/EE87814.hg38_proc.bam_ratio.npy
5   /tudelft.net/staff-umbrella/cse3000cfdna/msboon/brca/EE87815.hg38_proc.bam_ratio.npy
6   /tudelft.net/staff-umbrella/cse3000cfdna/msboon/brca/EE87816.hg38_proc.bam_ratio.npy
7   /tudelft.net/staff-umbrella/cse3000cfdna/msboon/brca/EE87817.hg38_proc.bam_ratio.npy
8   /tudelft.net/staff-umbrella/cse3000cfdna/msboon/brca/EE87818.hg38_proc.bam_ratio.npy
9   /tudelft.net/staff-umbrella/cse3000cfdna/msboon/brca/EE87819.hg38_proc.bam_ratio.npy
10  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/brca/EE87820.hg38_proc.bam_ratio.npy
11  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/brca/EE87822.hg38_proc.bam_ratio.npy
12  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/brca/EE87823.hg38_proc.bam_ratio.npy
13  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/brca/EE87824.hg38_proc.bam_ratio.npy
14  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/brca/EE87826.hg38_proc.bam_ratio.npy
15  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/brca/EE87827.hg38_proc.bam_ratio.npy
16  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/brca/EE87828.hg38_proc.bam_ratio.npy
17  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/brca/EE87829.hg38_proc.bam_ratio.npy
18  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/brca/EE87830.hg38_proc.bam_ratio.npy
19  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/brca/EE87831.hg38_proc.bam_ratio.npy
20  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/brca/EE87832.hg38_proc.bam_ratio.npy
21  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/brca/EE87833.hg38_proc.bam_ratio.npy
22  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/brca/EE87834.hg38_proc.bam_ratio.npy
23  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/brca/EE87835.hg38_proc.bam_ratio.npy
24  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/brca/EE87837.hg38_proc.bam_ratio.npy
25  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/brca/EE87838.hg38_proc.bam_ratio.npy
26  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/brca/EE87839.hg38_proc.bam_ratio.npy
27  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/brca/EE87840.hg38_proc.bam_ratio.npy
28  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/brca/EE87841.hg38_proc.bam_ratio.npy
29  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/brca/EE87842.hg38_proc.bam_ratio.npy
30  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/brca/EE87843.hg38_proc.bam_ratio.npy
31  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/brca/EE87844.hg38_proc.bam_ratio.npy
32  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/brca/EE87845.hg38_proc.bam_ratio.npy
33  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/brca/EE87846.hg38_proc.bam_ratio.npy
34  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/brca/EE87847.hg38_proc.bam_ratio.npy
35  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/brca/EE87848.hg38_proc.bam_ratio.npy
36  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/brca/EE87849.hg38_proc.bam_ratio.npy
37  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/brca/EE87850.hg38_proc.bam_ratio.npy
38  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/brca/EE87851.hg38_proc.bam_ratio.npy
39  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/brca/EE87852.hg38_proc.bam_ratio.npy
40  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/brca/EE87853.hg38_proc.bam_ratio.npy
41  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/brca/EE87854.hg38_proc.bam_ratio.npy
42  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/brca/EE87856.hg38_proc.bam_ratio.npy
43  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/brca/EE87857.hg38_proc.bam_ratio.npy
44  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/brca/EE87858.hg38_proc.bam_ratio.npy
45  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/brca/EE87859.hg38_proc.bam_ratio.npy
46  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/brca/EE87860.hg38_proc.bam_ratio.npy
47  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/brca/EE87861.hg38_proc.bam_ratio.npy
48  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/brca/EE87862.hg38_proc.bam_ratio.npy
49  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/brca/EE87863.hg38_proc.bam_ratio.npy
50  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/brca/EE87864.hg38_proc.bam_ratio.npy
