i   Path
1   /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE87924.hg38_proc.bam_ratio.npy
2   /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE87925.hg38_proc.bam_ratio.npy
3   /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE87928.hg38_proc.bam_ratio.npy
4   /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE87929.hg38_proc.bam_ratio.npy
5   /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE87931.hg38_proc.bam_ratio.npy
6   /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE87932.hg38_proc.bam_ratio.npy
7   /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE87933.hg38_proc.bam_ratio.npy
8   /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE87946.hg38_proc.bam_ratio.npy
9   /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE87949.hg38_proc.bam_ratio.npy
10  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE87952.hg38_proc.bam_ratio.npy
11  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE87953.hg38_proc.bam_ratio.npy
12  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE87954.hg38_proc.bam_ratio.npy
13  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE87959.hg38_proc.bam_ratio.npy
14  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE87960.hg38_proc.bam_ratio.npy
15  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE87966.hg38_proc.bam_ratio.npy
16  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE87967.hg38_proc.bam_ratio.npy
17  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE87969.hg38_proc.bam_ratio.npy
18  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE87970.hg38_proc.bam_ratio.npy
19  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE87971.hg38_proc.bam_ratio.npy
20  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE87972.hg38_proc.bam_ratio.npy
21  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE87973.hg38_proc.bam_ratio.npy
22  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE87974.hg38_proc.bam_ratio.npy
23  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE87975.hg38_proc.bam_ratio.npy
24  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE87976.hg38_proc.bam_ratio.npy
25  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE88043.hg38_proc.bam_ratio.npy
26  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE88044.hg38_proc.bam_ratio.npy
27  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE88049.hg38_proc.bam_ratio.npy
28  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE88050.hg38_proc.bam_ratio.npy
29  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE88052.hg38_proc.bam_ratio.npy
30  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE88053.hg38_proc.bam_ratio.npy
31  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE88055.hg38_proc.bam_ratio.npy
32  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE88057.hg38_proc.bam_ratio.npy
33  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE88058.hg38_proc.bam_ratio.npy
34  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE88059.hg38_proc.bam_ratio.npy
35  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE88060.hg38_proc.bam_ratio.npy
36  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE88062.hg38_proc.bam_ratio.npy
37  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE88063.hg38_proc.bam_ratio.npy
38  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE88064.hg38_proc.bam_ratio.npy
39  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE88068.hg38_proc.bam_ratio.npy
40  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE88070.hg38_proc.bam_ratio.npy
41  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE88073.hg38_proc.bam_ratio.npy
42  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE88078.hg38_proc.bam_ratio.npy
43  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE88079.hg38_proc.bam_ratio.npy
44  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE88081.hg38_proc.bam_ratio.npy
45  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE88082.hg38_proc.bam_ratio.npy
46  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE88083.hg38_proc.bam_ratio.npy
47  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE88084.hg38_proc.bam_ratio.npy
48  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE88085.hg38_proc.bam_ratio.npy
49  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE88086.hg38_proc.bam_ratio.npy
50  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE88088.hg38_proc.bam_ratio.npy
51  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE88089.hg38_proc.bam_ratio.npy
52  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE88090.hg38_proc.bam_ratio.npy
53  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE88091.hg38_proc.bam_ratio.npy
54  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE88092.hg38_proc.bam_ratio.npy
55  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE88093.hg38_proc.bam_ratio.npy
56  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE88132.hg38_proc.bam_ratio.npy
57  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE88133.hg38_proc.bam_ratio.npy
58  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE88134.hg38_proc.bam_ratio.npy
59  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE88135.hg38_proc.bam_ratio.npy
60  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE88136.hg38_proc.bam_ratio.npy
61  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE88137.hg38_proc.bam_ratio.npy
62  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE88139.hg38_proc.bam_ratio.npy
63  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE88141.hg38_proc.bam_ratio.npy
64  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE88180.hg38_proc.bam_ratio.npy
65  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE88182.hg38_proc.bam_ratio.npy
66  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE87923.hg38_proc.bam_ratio.npy
67  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE88047.hg38_proc.bam_ratio.npy
68  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/healthy/EE88048.hg38_proc.bam_ratio.npy
