i   Path
1   /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE87923.hg38.bam
2   /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE87924.hg38.bam
3   /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE87925.hg38.bam
4   /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE87928.hg38.bam
5   /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE87929.hg38.bam
6   /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE87931.hg38.bam
7   /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE87932.hg38.bam
8   /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE87933.hg38.bam
9  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE87946.hg38.bam
10  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE87949.hg38.bam
11  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE87952.hg38.bam
12  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE87953.hg38.bam
13  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE87954.hg38.bam
14  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE87959.hg38.bam
15  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE87960.hg38.bam
16  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE87966.hg38.bam
17  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE87967.hg38.bam
18  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE87969.hg38.bam
19  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE87970.hg38.bam
20  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE87971.hg38.bam
21  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE87972.hg38.bam
22  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE87973.hg38.bam
23  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE87974.hg38.bam
24  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE87975.hg38.bam
25  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE87976.hg38.bam
26  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88043.hg38.bam
27  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88044.hg38.bam
28  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88047.hg38.bam
29  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88048.hg38.bam
30  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88049.hg38.bam
31  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88050.hg38.bam
32  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88051.hg38.bam
33  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88053.hg38.bam
34  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88055.hg38.bam
35  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88058.hg38.bam
36  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88059.hg38.bam
37  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88060.hg38.bam
38  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88062.hg38.bam
39  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88063.hg38.bam
40  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88064.hg38.bam
41  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88068.hg38.bam
42  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88070.hg38.bam
43  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88073.hg38.bam
44  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88078.hg38.bam
45  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88079.hg38.bam
46  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88080.hg38.bam
47  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88081.hg38.bam
48  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88082.hg38.bam
49  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88083.hg38.bam
50  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88084.hg38.bam
51  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88085.hg38.bam
52  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88086.hg38.bam
53  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88087.hg38.bam
54  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88088.hg38.bam
55  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88089.hg38.bam
56  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88090.hg38.bam
57  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88091.hg38.bam
58  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88092.hg38.bam
59  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88093.hg38.bam
60  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88095.hg38.bam
61  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88096.hg38.bam
62  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88098.hg38.bam
63  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88099.hg38.bam
64  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88100.hg38.bam
65  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88101.hg38.bam
66  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88102.hg38.bam
67  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88103.hg38.bam
68  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88104.hg38.bam
69  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88105.hg38.bam
70  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88106.hg38.bam
71  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88107.hg38.bam
72  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88110.hg38.bam
73  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88111.hg38.bam
74  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88112.hg38.bam
75  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88113.hg38.bam
76  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88115.hg38.bam
77  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88116.hg38.bam
78  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88117.hg38.bam
79  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88119.hg38.bam
80  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88120.hg38.bam
81  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88121.hg38.bam
82  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88122.hg38.bam
83  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88123.hg38.bam
84  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88124.hg38.bam
85  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88125.hg38.bam
86  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88126.hg38.bam
87  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88127.hg38.bam
88  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88128.hg38.bam
89  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88129.hg38.bam
90  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88130.hg38.bam
91  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88131.hg38.bam
92 /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88132.hg38.bam
93 /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88133.hg38.bam
94 /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88134.hg38.bam
95 /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88135.hg38.bam
96 /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88136.hg38.bam
97 /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88137.hg38.bam
98 /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88138.hg38.bam
99 /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88139.hg38.bam
100 /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88141.hg38.bam
101 /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88179.hg38.bam
102 /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88181.hg38.bam
103 /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/control/EE88182.hg38.bam
