i   Path
1   /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/CRC/EE87865.hg38.bam
2   /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/CRC/EE87866.hg38.bam
3   /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/CRC/EE87867.hg38.bam
4   /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/CRC/EE87868.hg38.bam
5   /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/CRC/EE87869.hg38.bam
6   /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/CRC/EE87870.hg38.bam
7   /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/CRC/EE87871.hg38.bam
8   /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/CRC/EE87872.hg38.bam
9   /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/CRC/EE87873.hg38.bam
10  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/CRC/EE87875.hg38.bam
11  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/CRC/EE87876.hg38.bam
12  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/CRC/EE87877.hg38.bam
13  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/CRC/EE87878.hg38.bam
14  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/CRC/EE87879.hg38.bam
15  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/CRC/EE87880.hg38.bam
16  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/CRC/EE87881.hg38.bam
17  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/CRC/EE87882.hg38.bam
18  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/CRC/EE87883.hg38.bam
19  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/CRC/EE87884.hg38.bam
20  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/CRC/EE87885.hg38.bam
21  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/CRC/EE87886.hg38.bam
22  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/CRC/EE87887.hg38.bam
23  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/CRC/EE87888.hg38.bam
24  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/CRC/EE87889.hg38.bam
25  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/CRC/EE87890.hg38.bam
26  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/CRC/EE87891.hg38.bam
