i   Path
1   /tudelft.net/staff-umbrella/cse3000cfdna/msboon/crc/EE87865.hg38_proc.bam_ratio.npy
2   /tudelft.net/staff-umbrella/cse3000cfdna/msboon/crc/EE87866.hg38_proc.bam_ratio.npy
3   /tudelft.net/staff-umbrella/cse3000cfdna/msboon/crc/EE87867.hg38_proc.bam_ratio.npy
4   /tudelft.net/staff-umbrella/cse3000cfdna/msboon/crc/EE87868.hg38_proc.bam_ratio.npy
5   /tudelft.net/staff-umbrella/cse3000cfdna/msboon/crc/EE87869.hg38_proc.bam_ratio.npy
6   /tudelft.net/staff-umbrella/cse3000cfdna/msboon/crc/EE87870.hg38_proc.bam_ratio.npy
7   /tudelft.net/staff-umbrella/cse3000cfdna/msboon/crc/EE87871.hg38_proc.bam_ratio.npy
8   /tudelft.net/staff-umbrella/cse3000cfdna/msboon/crc/EE87872.hg38_proc.bam_ratio.npy
9   /tudelft.net/staff-umbrella/cse3000cfdna/msboon/crc/EE87873.hg38_proc.bam_ratio.npy
10  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/crc/EE87875.hg38_proc.bam_ratio.npy
11  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/crc/EE87876.hg38_proc.bam_ratio.npy
12  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/crc/EE87877.hg38_proc.bam_ratio.npy
13  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/crc/EE87878.hg38_proc.bam_ratio.npy
14  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/crc/EE87879.hg38_proc.bam_ratio.npy
15  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/crc/EE87880.hg38_proc.bam_ratio.npy
16  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/crc/EE87881.hg38_proc.bam_ratio.npy
17  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/crc/EE87882.hg38_proc.bam_ratio.npy
18  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/crc/EE87883.hg38_proc.bam_ratio.npy
19  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/crc/EE87884.hg38_proc.bam_ratio.npy
20  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/crc/EE87885.hg38_proc.bam_ratio.npy
21  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/crc/EE87886.hg38_proc.bam_ratio.npy
22  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/crc/EE87887.hg38_proc.bam_ratio.npy
23  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/crc/EE87888.hg38_proc.bam_ratio.npy
24  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/crc/EE87889.hg38_proc.bam_ratio.npy
25  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/crc/EE87890.hg38_proc.bam_ratio.npy
26  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/crc/EE87891.hg38_proc.bam_ratio.npy
