i   Path
1   /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88183.hg38.bam
2   /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88184.hg38.bam
3   /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88185.hg38.bam
4   /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88186.hg38.bam
5   /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88187.hg38.bam
6   /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88188.hg38.bam
7   /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88189.hg38.bam
8   /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88190.hg38.bam
9   /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88191.hg38.bam
10  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88192.hg38.bam
11  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88193.hg38.bam
12  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88194.hg38.bam
13  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88195.hg38.bam
14  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88198.hg38.bam
15  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88199.hg38.bam
16  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88200.hg38.bam
17  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88201.hg38.bam
18  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88202.hg38.bam
19  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88203.hg38.bam
20  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88204.hg38.bam
21  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88206.hg38.bam
22  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88207.hg38.bam
23  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88208.hg38.bam
24  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88209.hg38.bam
25  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88210.hg38.bam
26  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88211.hg38.bam
27  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88212.hg38.bam
28  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88213.hg38.bam
29  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88215.hg38.bam
30  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88216.hg38.bam
31  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88217.hg38.bam
32  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88218.hg38.bam
33  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88219.hg38.bam
34  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88220.hg38.bam
35  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88221.hg38.bam
36  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88222.hg38.bam
37  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88223.hg38.bam
38  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88224.hg38.bam
39  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88225.hg38.bam
40  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88226.hg38.bam
41  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88227.hg38.bam
42  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88228.hg38.bam
43  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88229.hg38.bam
44  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88230.hg38.bam
45  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88231.hg38.bam
46  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88232.hg38.bam
47  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88233.hg38.bam
48  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88234.hg38.bam
49  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88235.hg38.bam
50  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88236.hg38.bam
51  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88237.hg38.bam
52  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88238.hg38.bam
53  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88239.hg38.bam
54  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88240.hg38.bam
55  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88241.hg38.bam
56  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88242.hg38.bam
57  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88243.hg38.bam
58  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88244.hg38.bam
59  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88261.hg38.bam
60  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88245.hg38.bam
61  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88246.hg38.bam
62  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88247.hg38.bam
63  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88248.hg38.bam
64  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88249.hg38.bam
65  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88250.hg38.bam
66  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88251.hg38.bam
67  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88252.hg38.bam
68  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88253.hg38.bam
69  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88254.hg38.bam
70  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88255.hg38.bam
71  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88256.hg38.bam
72  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88257.hg38.bam
73  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88258.hg38.bam
74  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88259.hg38.bam
75  /tudelft.net/staff-umbrella/cse3000cfdna/delfi_data/LUAD/EE88260.hg38.bam

