i   Path
1   /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88183.hg38_proc.bam_ratio.npy
2   /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88184.hg38_proc.bam_ratio.npy
3   /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88185.hg38_proc.bam_ratio.npy
4   /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88186.hg38_proc.bam_ratio.npy
5   /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88187.hg38_proc.bam_ratio.npy
6   /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88188.hg38_proc.bam_ratio.npy
7   /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88189.hg38_proc.bam_ratio.npy
8   /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88190.hg38_proc.bam_ratio.npy
9   /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88191.hg38_proc.bam_ratio.npy
10  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88192.hg38_proc.bam_ratio.npy
11  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88193.hg38_proc.bam_ratio.npy
12  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88194.hg38_proc.bam_ratio.npy
13  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88195.hg38_proc.bam_ratio.npy
14  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88198.hg38_proc.bam_ratio.npy
15  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88199.hg38_proc.bam_ratio.npy
16  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88200.hg38_proc.bam_ratio.npy
17  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88201.hg38_proc.bam_ratio.npy
18  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88202.hg38_proc.bam_ratio.npy
19  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88203.hg38_proc.bam_ratio.npy
20  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88204.hg38_proc.bam_ratio.npy
21  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88206.hg38_proc.bam_ratio.npy
22  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88207.hg38_proc.bam_ratio.npy
23  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88208.hg38_proc.bam_ratio.npy
24  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88209.hg38_proc.bam_ratio.npy
25  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88210.hg38_proc.bam_ratio.npy
26  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88211.hg38_proc.bam_ratio.npy
27  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88212.hg38_proc.bam_ratio.npy
28  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88213.hg38_proc.bam_ratio.npy
29  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88215.hg38_proc.bam_ratio.npy
30  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88216.hg38_proc.bam_ratio.npy
31  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88217.hg38_proc.bam_ratio.npy
32  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88218.hg38_proc.bam_ratio.npy
33  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88219.hg38_proc.bam_ratio.npy
34  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88220.hg38_proc.bam_ratio.npy
35  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88221.hg38_proc.bam_ratio.npy
36  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88222.hg38_proc.bam_ratio.npy
37  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88223.hg38_proc.bam_ratio.npy
38  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88224.hg38_proc.bam_ratio.npy
39  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88225.hg38_proc.bam_ratio.npy
40  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88226.hg38_proc.bam_ratio.npy
41  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88227.hg38_proc.bam_ratio.npy
42  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88228.hg38_proc.bam_ratio.npy
43  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88229.hg38_proc.bam_ratio.npy
44  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88230.hg38_proc.bam_ratio.npy
45  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88231.hg38_proc.bam_ratio.npy
46  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88232.hg38_proc.bam_ratio.npy
47  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88233.hg38_proc.bam_ratio.npy
48  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88234.hg38_proc.bam_ratio.npy
49  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88235.hg38_proc.bam_ratio.npy
50  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88236.hg38_proc.bam_ratio.npy
51  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88237.hg38_proc.bam_ratio.npy
52  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88238.hg38_proc.bam_ratio.npy
53  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88239.hg38_proc.bam_ratio.npy
54  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88240.hg38_proc.bam_ratio.npy
55  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88241.hg38_proc.bam_ratio.npy
56  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88242.hg38_proc.bam_ratio.npy
57  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88243.hg38_proc.bam_ratio.npy
58  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88244.hg38_proc.bam_ratio.npy
59  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88261.hg38_proc.bam_ratio.npy
60  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88245.hg38_proc.bam_ratio.npy
61  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88246.hg38_proc.bam_ratio.npy
62  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88247.hg38_proc.bam_ratio.npy
63  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88248.hg38_proc.bam_ratio.npy
64  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88249.hg38_proc.bam_ratio.npy
65  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88250.hg38_proc.bam_ratio.npy
66  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88251.hg38_proc.bam_ratio.npy
67  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88252.hg38_proc.bam_ratio.npy
68  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88253.hg38_proc.bam_ratio.npy
69  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88254.hg38_proc.bam_ratio.npy
70  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88255.hg38_proc.bam_ratio.npy
71  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88256.hg38_proc.bam_ratio.npy
72  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88257.hg38_proc.bam_ratio.npy
73  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88258.hg38_proc.bam_ratio.npy
74  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88259.hg38_proc.bam_ratio.npy
75  /tudelft.net/staff-umbrella/cse3000cfdna/msboon/luad/EE88260.hg38_proc.bam_ratio.npy

